<div class="container">

  <p-card>
    <h3>問卷</h3>
    <p-divider></p-divider>
    <div class="row">
      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">姓名</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>
      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">手機</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>
      <div class="col-6">
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>
      </div>

      <div class="col-6 flex-center">
        <p-checkbox [binary]="true" inputId="binary" label="angular"> </p-checkbox>
        <p-checkbox [binary]="true" inputId="binary" label="golang"> </p-checkbox>
        <p-checkbox [binary]="true" inputId="binary" label="sqlserve"> </p-checkbox>
        <p-checkbox [binary]="true" inputId="binary" label="camunda"> </p-checkbox>
      </div>
      <div class="col-6">
        <label for="inputPassword5" class="form-label">EnterPassword</label>
        <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">

        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">E-mail</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">城市</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>
      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">職業</label>
          <p-dropdown [options]="Profession" optionLabel="work"></p-dropdown>
        </div>
      </div>

      <div class="col-6">
        <label htmlFor="username">填寫日期</label>
        <p-calendar [showIcon]="true"></p-calendar>
      </div>

      <div class="col-6">
        <label>性別</label>
        <div class="flex flex-wrap gap-3">
          <div class="flex-center">
            <div class="flex align-items-center">
              <p-radioButton value="Cheese" [(ngModel)]="ingredient"></p-radioButton>
              <label class="ml-2">男</label>
            </div>

            <div class="flex align-items-center">
              <p-radioButton value="Mushroom" [(ngModel)]="ingredient"></p-radioButton>
              <label class="ml-2">女</label>
            </div>

            <div class="flex align-items-center">
              <p-radioButton value="Pepper" [(ngModel)]="ingredient"></p-radioButton>
              <label class="ml-2">其他</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <label htmlFor="username">填寫評論</label>
        <textarea rows="5" cols="50" pInputTextarea></textarea>
      </div>

      <div class="col-6">
        <p-button label="送出"></p-button>
      </div>

    </div>
  </p-card>
</div>
