<div class="div-container">
  <p-card>
    <h3>問卷</h3>
    <p-divider></p-divider>
    <div class="row">
      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">姓名</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>
      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">手機</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>
      <div class="col-6">
        <label>密碼</label>
          <p-password>

          </p-password>
        </div>


      <div class="col-6">

        <div class="flex flex-column gap-2">
          <div *ngFor="let category of categories" class="field-checkbox">
            <p-checkbox name="group" [value]="category" [(ngModel)]="selectedCategories"
              [inputId]="category.key"></p-checkbox>
            <label [for]="category.key">{{ category.name }}</label>

          </div>
        </div>
      </div>

      <div class="col-6">
        <label>確認密碼</label>
          <p-password>

          </p-password>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">E-mail</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">城市</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>
      <div class="col-6">
        <p-multiSelect [options]="Profession" [(ngModel)]="selectedProfession" defaultLabel="職業" optionLabel="work"
          display="chip"></p-multiSelect>
      </div>
    </div>
  </p-card>
</div>
