<div class="container">
  <p-card>
    <h3>基本資料</h3>
    <p-divider></p-divider>
    <div class="row">
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">姓名</label>
          <input pInputText id="username" aria-describedby="username-help">

        </div>
      </div>
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">系所</label>
          <input pInputText id="username" aria-describedby="username-help">

        </div>
      </div>
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">年級</label>
          <input pInputText id="username" aria-describedby="username-help">

        </div>
      </div>
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">性別</label>
          <input pInputText id="username" aria-describedby="username-help">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">出生年</label>
          <input pInputText id="username" aria-describedby="username-help">

        </div>
      </div>
      <div class="col-4">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">出生月</label>
          <input pInputText id="username" aria-describedby="username-help">

        </div>
      </div>
      <div class="col-4">
        <div class="flex flex-column gap-2">
          <label htmlFor="username">出生日</label>
          <input pInputText id="username" aria-describedby="username-help">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="flex flex-column gap-2">
            <label htmlFor="username">地址</label>
            <input pInputText id="username" aria-describedby="username-help">
          </div>
          <div class="row">
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label htmlFor="username">電子郵件</label>
                <input pInputText id="username" aria-describedby="username-help">
              </div>
            </div>
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label htmlFor="username">電話</label>
                <input pInputText id="username" aria-describedby="username-help" placeholder="09xxxxxx">
              </div>
            </div>

          </div>
          <div class="text-center">
          <button pButton pRipple label="comfirm" class="p-button-success"></button>
          <p-button label="cancel" styleClass="p-button-raised p-button-secondary"></p-button>
        </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
